/arquivos_ser/audi.pkl
/arquivos_ser/byd.pkl
/arquivos_ser/chevrolet.pkl
/arquivos_ser/citroen.pkl
/arquivos_ser/fiat.pkl
/arquivos_ser/ford.pkl
/arquivos_ser/honda.pkl
/arquivos_ser/hyundai.pkl
/arquivos_ser/iveco.pkl
/arquivos_ser/jac.pkl
/arquivos_ser/jeep.pkl
/arquivos_ser/kia_motors.pkl
/arquivos_ser/mercedes_benz.pkl
/arquivos_ser/mitsubishi.pkl
/arquivos_ser/nissan.pkl
/arquivos_ser/peugeot.pkl
/arquivos_ser/renault.pkl
/arquivos_ser/toyota.pkl
/arquivos_ser/volkswagen.pkl
/arquivos_ser/volvo.pkl
minio-data/*
pgdata/*
.idea*
.env